@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// seletor{
//propiedade: valor;}

// a primeira coisa a fazer no arquivo de style é o reset
// o * é um seletor UNIVERSAL
// dentro do *{} só colocamos o reset
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: rgb(156, 24, 196); // cor de fundo
   font-family: "Open Sans", sans-serif;
}
img{
   width: 200px;
   border-radius: 60%;
}
h1{
   font-family: "Nunito", sans-serif;
   color: rgb(242, 57, 255);
}
.tituloMusicas{
   font-family: "Nunito", sans-serif;
   color: rgb(242, 57, 255);
}
ol{
   background-color: #b05bf5;
   color: #78ADF5;
}
